.page-header{
    max-width:1400px;
    margin:auto;
    padding:100px 80px 50px;
}

.page-header span{
    color:#d8ff3e;
    font-weight:700;
}

.page-header h1{
    font-size:60px;
    margin:15px 0;
}

.page-header p{
    color:#9f9f9f;
}

.summary-grid{
    max-width:1400px;
    margin:auto;

    padding:0 80px 50px;

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.summary-card{
    background:#111;
    border:1px solid #222;

    border-radius:25px;
    padding:30px;

    text-align:center;
}

.summary-card i{
    color:#d8ff3e;
    font-size:30px;
    margin-bottom:15px;
}

.summary-card h2{
    margin-bottom:10px;
}

.summary-card p{
    color:#9f9f9f;
}

.report-cards{
    max-width:1400px;
    margin:auto;

    padding:0 80px 50px;

    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
}

.report-card{
    background:#111;
    border:1px solid #222;

    border-radius:25px;
    padding:30px;
}

.report-card h2{
    margin-bottom:25px;
}

.report-card ul{
    list-style:none;
}

.report-card li{
    display:flex;
    justify-content:space-between;

    padding:15px 0;

    border-bottom:1px solid #222;
}

.report-card span{
    color:#d8ff3e;
}

.report-table{
    max-width:1400px;
    margin:auto;

    padding:0 80px 100px;
}

.table-card{
    background:#111;
    border:1px solid #222;

    border-radius:25px;
    padding:30px;
}

.table-header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:30px;
}

.table-header button{
    background:#d8ff3e;
    color:black;

    border:none;
    border-radius:10px;

    padding:12px 20px;

    font-weight:700;
    cursor:pointer;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,
td{
    text-align:left;
    padding:18px;
    border-bottom:1px solid #222;
}

@media(max-width:992px){

    .page-header{
        padding:80px 20px 40px;
    }

    .page-header h1{
        font-size:42px;
    }

    .summary-grid{
        grid-template-columns:repeat(2,1fr);
        padding:0 20px 40px;
    }

    .report-cards{
        grid-template-columns:1fr;
        padding:0 20px 40px;
    }

    .report-table{
        padding:0 20px 80px;
        overflow-x:auto;
    }

}